<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <title>Cards Against Humanity
    </title>


</head>

<body>
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <div id="dismiss">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    </div>
    
                    <div class="sidebar-header">
                        <h4>Cards Against Humanity</h4>
                    </div>
    
                    <ul class="list-unstyled components">
                        <p>Get Started</p>
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li><a href="#">Home 1</a></li>
                                <li><a href="#">Home 2</a></li>
                                <li><a href="#">Home 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">How To Play</a>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Games</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li><a href="#">Create Game</a></li>
                                <li><a href="#">Join Game</a></li>
                                <li><a href="#">Resume Game</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
    
                    <ul class="list-unstyled CTAs">
                        <li><a href="https://github.com/bgrego11/cards" target="_blank" class="download">Download source</a></li>
                        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Log Out</a></li>
                    </ul>
                </nav>
    
                <!-- Page Content Holder -->
                <div id="content">
                        <nav class="navbar navbar-dark bg-dark">
                                <div class="container-fluid">
            
                                    <div class="navbar-header">
                                        <button type="button" id="sidebarCollapse" class="btn btn-dark navbar-btn">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span>Open Sidebar</span>
                                        </button>
                                    </div>
            
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#">Page</a></li>
                                            <li><a href="#">Page</a></li>
                                            <li><a href="#">Page</a></li>
                                            <li><a href="#">Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                



              <div class="intro">
                    <div class="animated-bar"></div>
                 
                    <div class="slide slide-a">
                       <div class="slide-content">
                          <p class="slide-a-child">Hi There!</p>
                          <h1 class="slide-a-child">Are you ready to play Cards Against Humanity?</h1>
                          <p class="slide-a-child"></p>
                       </div>
                    </div>
                 
                    <div class="slide slide-b">
                       <div class="slide-content">
                          <h2 class="slide-b-child">If you've never played thats ok!</h2>
                          <p class="slide-b-child">Check out our How to play page</p>
                        
                       </div>
                    </div>
                 
                    <div class="slide slide-c">
                       <div class="slide-content">
                          <h2 class="slide-c-child">Lets get started!</h2>
                          <ul>
                             <li class="slide-c-child"><p>Click on the arrow in the top left</p></li>
                             <li class="slide-c-child"><p>and click create game</p></li>
                             <li class="slide-c-child"><p>or if you already have a game going</p></li>
                             <li class="slide-c-child"><p>Click Join Game</p></li>
                          </ul>
                       </div>
                    </div>
                 
                    <div class="slide slide-d">
                       <div class="slide-content">
                          <h2 class="slide-d-child">Like to see how this was made?</h2>
                          <p class="slide-d-child">You can check it out on <a href="https://github.com/bgrego11/cards" target="_blank">our Github</a></p>
                          <button class="slide-d-child replay">Replay</button>
                       </div>
                    </div>
                 
                 </div>
                 
    <footer>
            <div id="contact">
                  <div id="bottom"><a href="" class="logo">Steven Snyder | Full Stack Developer</a>
                    <p class="made-by-me">Steven Snyder © 2017.</p>
                    <div class="social-links">
                        <a href="https://linkedin.com/in/steven-snyder" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      <a href="www.linkedin.com/in/steven-snyder" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a><a href="https://github.com/stevens125" target="_blank">
                        <i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
          </footer>

 
            </div> 
            </div>

            <div class="overlay"></div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/script.js"></script>
</html>